/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  display: flex;
  gap: 8px;
  /* border-radius: 8px;
 */
  width: 371px;
  height: 88px;
  margin: 0 auto 32px;
}

.form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form > label:nth-child(2) {
  margin-top: 8px;
  margin-bottom: 16px;
}

.form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.form input:hover {
  border: 1px solid #000;
}

.form input::placeholder {
  color: transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}
.form input:focus::placeholder {
  color: #2e2f42;
}

.form > button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.form > button {
  background-color: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0 calc((100% - 48px) / 2);
  display: none;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
